@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* color palette from <https://github.com/morhetz/gruvbox.git> */
@theme {
  --color-gruv-bg-hard: #f9f5d7;
  --color-gruv-bg-soft: #f2e5bc;
  --color-gruv-bg-500: #fbf1c7;
  --color-gruv-bg-600: #ebdbb2;
  --color-gruv-bg-700: #d5c4a1;
  --color-gruv-bg-800: #bdae93;
  --color-gruv-bg-900: #a89984;

  --color-gruv-fg-200: #7c6f64;
  --color-gruv-fg-300: #665c54;
  --color-gruv-fg-400: #504945;
  --color-gruv-fg-500: #3c3836;
  --color-gruv-fg-600: #282828;

  --color-gruv-red-500: #cc241d;
  --color-gruv-red-600: #9d0006;

  --color-gruv-green-500: #98971a;
  --color-gruv-green-600: #79740e;

  --color-gruv-yellow-500: #d79912;
  --color-gruv-yellow-600: #b57614;

  --color-gruv-blue-500: #458588;
  --color-gruv-blue-600: #076678;

  --color-gruv-purple-500: #b16286;
  --color-gruv-purple-600: #8f4f71;

  --color-gruv-aqua-500: #689d6a;
  --color-gruv-aqua-600: #427b58;

  --color-gruv-orange-500: #d65d0e;
  --color-gruv-orange-600: #af3a03;

  --color-gruv-gray-500: #7c6f64;
  --color-gruv-gray-600: #928374;

  --font-fira-code: 'Fira Code', monospace;
  --font-fira-sans: 'Fira Sans', sans-serif;
}

.dark {
  --color-gruv-bg-hard: #1d2021;
  --color-gruv-bg-soft: #32302f;
  --color-gruv-bg-500: #282828;
  --color-gruv-bg-600: #3c3836;
  --color-gruv-bg-700: #504945;
  --color-gruv-bg-800: #665c54;
  --color-gruv-bg-900: #7c6f64;

  --color-gruv-fg-200: #fbf1c7;
  --color-gruv-fg-300: #ebdbb2;
  --color-gruv-fg-400: #d5c4a1;
  --color-gruv-fg-500: #bdae93;
  --color-gruv-fg-600: #a89984;

  --color-gruv-red-500: #fb4934;
  --color-gruv-red-600: #cc2412;

  --color-gruv-green-500: #b8bb26;
  --color-gruv-green-600: #98971a;

  --color-gruv-yellow-500: #fabd2f;
  --color-gruv-yellow-600: #d79921;

  --color-gruv-blue-500: #83a598;
  --color-gruv-blue-600: #458588;

  --color-gruv-purple-500: #d3869b;
  --color-gruv-purple-600: #b16286;

  --color-gruv-aqua-500: #8ec07c;
  --color-gruv-aqua-600: #689d6a;

  --color-gruv-orange-500: #fe8019;
  --color-gruv-orange-600: #d65d0e;

  --color-gruv-gray-500: #928374;
  --color-gruv-gray-600: #a89984;

  --font-fira-code: 'Fira Code', monospace;
  --font-fira-sans: 'Fira Sans', sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

:root {
  --color-background: var(--color-gruv-bg-500);
  --color-background-hard: var(--color-gruv-bg-hard);
  --color-background-soft: var(--color-gruv-bg-soft);

  --color-text: var(--color-gruv-fg-500);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: var(--font-fira-code);
  font-weight: bold;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-fira-sans);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
