@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";
@import "@catppuccin/tailwindcss/mocha.css";

@custom-variant dark (&:is(.dark *));


@theme {
  --color-base-500: #faf4ed;
  --color-base-600: #fffaf3;
  --color-base-700: #f2e9e1;

  --color-fg-500: #575279;
  --color-fg-400: #797593;
  --color-fg-300: #9893a5;

  --font-fira-code: "Fira Code", monospace;
  --font-fira-sans: "Fira Sans", sans-serif;
}

.dark {
  --color-base-500: #232136;
  --color-base-600: #2a273f;
  --color-base-700: #393552;

  --color-fg-500: #e0def4;
  --color-fg-400: #908caa;
  --color-fg-300: #6e6a86;
}

:root {
  --color-background: var(--color-base-500);
  --color-text: var(--color-fg-500);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: var(--font-fira-code);
  font-weight: bold;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-fira-sans);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
