@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";
@import "@catppuccin/tailwindcss/mocha.css";

@custom-variant dark (&:is(.dark *));


@theme {
  --color-base-500: #faf4ed;
  --color-base-600: #fffaf3;
  --color-base-700: #f2e9e1;

  --color-fg-500: #575279;
  --color-fg-400: #797593;
  --color-fg-300: #9893a5;

  --font-fira-code: "Fira Code", monospace;
  --font-fira-sans: "Fira Sans", sans-serif;

  --color-icon-html: #E34F26;
  --color-icon-css: #663399;
  --color-icon-js: #F7DF1E;
  --color-icon-ts: #3178C6;
  --color-icon-go: #00ADD8;
  --color-icon-node: #5FA04E;
  --color-icon-vue: #4FC08D;
  --color-icon-nuxt: #00DC82;
  --color-icon-react: #61DAFB;
  --color-icon-tailwind: #06B6D4;
  --color-icon-psql: #4169E1;
  --color-icon-sneklang: #3776AB;
  --color-icon-git: #F05032;
  --color-icon-docker: #2496ED;
  --color-icon-neovim: #57A143;
  --color-icon-godot: #478CBF;
  --color-icon-supabase: #3FCF8E;
  --color-icon-fedora: #51A2DA;
  --color-icon-linux: #FCC624;
  --color-icon-pinia: #FFD859;
}

.dark {
  --color-base-500: #232136;
  --color-base-600: #2a273f;
  --color-base-700: #393552;

  --color-fg-500: #e0def4;
  --color-fg-400: #908caa;
  --color-fg-300: #6e6a86;
}

:root {
  --color-background: var(--color-base-500);
  --color-text: var(--color-fg-500);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: var(--font-fira-code);
  font-weight: bold;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-fira-sans);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
